<section class="content-header">
  <div class="row">
    <h1 class="ml-3 mr-auto">Prescrição Médica</h1>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-4 align-items-center">
      <div class="card mb-3">
        <div class="card-body">
          <p>Paciente: <b>{{prontuario?.idPaciente?.nome}}</b></p>
          <div class="search-results">
            <div>
              <dl class="details">
                <dt>Nome:</dt>
                <dd>{{prontuario?.idPaciente?.nome}}</dd>
                <dt>DN:</dt>
                <dd>dd/MM/yyyy</dd>
                <dt>Admissão:</dt>
                <dd>{{prontuario?.dataAdmissao | date:'dd/MM/yyyy'}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 align-items-center">
      <div class="card mb-3">
        <div class="card-body">
          <div class="search-results">
            <div class="details">
              <dt>Registro:</dt>
              <dd>-</dd>
              <dt>Mãe:</dt>
              <dd>{{prontuario?.idPaciente?.nomeMae}}</dd>
              <dt>Peso Admissão:</dt>
              <dd>{{prontuario?.pesoAdmissao}}</dd>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 align-items-center">
      <div class="card mb-3">
        <div class="card-body">
          <dt>Leito:</dt>
          <dd>{{prontuario?.leito}}</dd>
          <dt>Sus:</dt>
          <dd>-</dd>
          <dt>Peso Seco:</dt>
          <dt>-</dt>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.row -->
<section>
  <div class="row">
    <div class="col-xl-12 align-items-center">
      <div class="card mb-3">
        <div class="card-body">
          <p>Lorem</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="panel panel-default">
    <div class="table-responsive-md">
      <table class="table table-striped">
        <thead colspan="2">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Dosagem</th>
            <th>Posologia</th>
            <th>Data de Validade</th>
            <th>Data de Fabricação</th>
            <th>Administrar medicamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of getMedicamentos(); index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{medicamento?.nome}}</td>
            <td>{{medicamento?.dosagem}}</td>
            <td></td>
            <td>{{medicamento?.dataValidade | date:'dd/MM/yyyy'}}</td>
            <td>{{medicamento?.dataFabricacao | date:'dd/MM/yyyy'}}</td>
            <td>
              <i class="fa fa-pencil-square-o btn-edit" (click)="showModal(medicamento)" data-toggle="modal" data-target="#modalAprazamento" data-backdrop="static" data-keyboard="false"></i>
            </td>
          </tbody>
        </table>
      </div>
      <app-modal-aprazar *ngIf="modalMedicamento" [medicamento]="modalMedicamento" (hideModal)="dismissModal()"></app-modal-aprazar>
  </div>
</section>
