<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <form [formGroup]="loginForm">
                <div class="form-content">
                    <div class="form-group">
                      <input type="text" formControlName="username" class="form-control input-underline input-lg" placeholder="username" maxlength="15">
                      <div *ngFor="let error of inputInvalid('username')">
                        <div [ngSwitch]="error">
                          <span *ngSwitchCase="'required'">
                            Usuário é obrigatório
                          </span>
                          <span *ngSwitchCase="'minlength'">
                            Usuário deve possuir no mínimo 6 caracteres
                          </span>
                          <span *ngSwitchCase="'maxlength'">
                            Usuário deve possuir no máximo 15 caracteres
                          </span>
                          <span *ngSwitchCase="'pattern'">
                            Usuário deve possuir apenas letras
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control input-underline input-lg" placeholder="***********" maxlength="20">
                      <div *ngFor="let error of inputInvalid('password')">
                        <div [ngSwitch]="error">
                          <span *ngSwitchCase="'required'">
                            Senha é obrigatório
                          </span>
                          <span *ngSwitchCase="'minlength'">
                            Senha deve possuir no mínimo 6 caracteres
                          </span>
                          <span *ngSwitchCase="'maxlength'">
                            Senha deve possuir no máximo 20 caracteres
                          </span>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="isInvalidLogin">
                      <span>
                        Login inválido
                      </span>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" (click)="login()" [disabled]="loginForm.invalid"> Entrar </button>
                &nbsp;
            </form>
        </div>
    </div>
</div>
