/* Modal Header */
.modal-header {
  background-color: rgba(153,153,153,0.2);
}

#nav-aprazar-tab{
  color: #007bff;
}

.col-md-4.center-block {
  margin: auto;
}

.btn.btn-success{
  background-color: #fff;
  color: #28a745;
  border-radius: 33px;
  height: 73px;
  width: 235px;
  font-size: 20px;
  font-weight: bold;
}

.modal-title {
    text-align: center;
}
/* End Modal Header */

/* Modal Body */
label {
  padding-top: 10px;
}
/* End Modal Body */

.data-input {
  margin-top: 10px;
}

.btn {
  flex: auto;
}
/* Calendar modal */


/* Tabs */

a {
  color: black;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: green;
  background-color: transparent;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  /*color: #eeee;*/
  font-size: 20px;
}

/* Table Aprazar */

.pt-3-half {
  padding-top: 1.4rem;
  }
