#dtapra{
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}

.btn.btn-info {
    font-size: 20px;

    width: 102%;
    
    text-align: center;
}

.content-header {

    margin-top: 4%;
}