<section class="content">
  <div class="row ml-5 mr-5 mt-0">
    <div class="card w-100">
      <h1 class="card-title text-center mt-2">Históricos Administrados</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="form-group inner-addon">
          <div class="inner-addon pull-right">
            <i class="fa fa-search pull-right"></i>
            <input type="text" placeholder="Nome do paciente" class="form-control form-rounded" id="filtro" name="filtro"
              [(ngModel)]="filtro">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="card full">
          <div *ngFor="let horario of getHorarios() | paginate: { id: 'administracoes', itemsPerPage: 10, currentPage: paginationAdministracoes }">
            <div class="card-header" (click)="mostrarAdministracoes(horario)">
              <a class="card-title">
                {{ horario }}
              </a>
            </div>
            <div id="collapseOne" class="card-body" [ngbCollapse]="isCollapsed(horario)">
              <div class="table-responsive-sm bg-white ml-5 mr-5">
                <table class="table table-hover text-center">
                  <thead>
                    <tr class="bg-light">
                      <th>Horário</th>
                      <th>Paciente</th>
                      <th>Profissional</th>
                      <th>Medicamento</th>
                      <th>Consumido?</th>
                      <th>Justificativa</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let administracao of getAdministracoes(horario)">
                      <td>
                        {{ administracao?.dtOperacao ?
                        (administracao.dtOperacao | date:'HH:mm dd/MM/yy') : 'Não identificado' }}
                      </td>
                      <td>
                        {{ administracao?.aprazamento?.prontuario?.nomeDoPaciente ?
                        administracao.aprazamento.prontuario.nomeDoPaciente : 'Não identificado' }}
                      </td>
                      <td>
                        {{ administracao?.aprazamento?.nmUsuario ?
                        administracao.aprazamento.nmUsuario : 'Não identificado' }}
                      </td>
                      <td>
                        {{ administracao?.aprazamento?.itemPrescricao?.descricaoItem ?
                        administracao.aprazamento.itemPrescricao.descricaoItem : 'Não identificado' }}
                      </td>
                      <td>{{ administracao?.isConsumido ? 'Sim' : 'Não' }}</td>
                      <td>{{ administracao?.justificativa }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-3">
          <pagination-controls [id]="'administracoes'" previousLabel="Anterior" nextLabel="Próximo" responsive="true"
            (pageChange)="paginationAdministracoes = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: '#ffffff', backdropBorderRadius: '3px' }"></ngx-loading>
</section>