<div [@routerTransition]>
    <h2 class="text-muted">Salus Vitae</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                  <i class="fa fa-wheelchair" [routerLinkActive] aria-hidden="true"></i> Prontuários
                </div>
                <!-- /.card-header -->
                <a class="btn btn-primary btn-lg" [routerLink]="['/pacientes']">Ver Pacientes</a>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <!-- <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>

                <app-notification></app-notification>

            </div>

            <app-chat></app-chat>

          </div> -->
        <!-- /.col-lg-4 -->
    </div>
</div>
