<div [@routerTransition]>
  <h2 class="text-muted">Salus Vitae</h2>
  <div class="row">
    <div class="col-md-12">

      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-wheelchair" [routerLinkActive] aria-hidden="true"></i> Prontuários
        </div>
        <a class="btn btn-primary btn-lg" [routerLink]="['/pacientes']">Ver Pacientes</a>
      </div>

      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Aprazamentos
        </div>
      </div>
    </div>
  </div>
</div>
