<section class="content-header">
  <div class="row">
    <h1 class="ml-3 mr-auto">Prescrição Médica</h1>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-info text-white">
        <div class="card-body">
          <!-- <h5 class="card-title"><b>Prescrição</b></h5> -->
          <!-- <h6 class="card-subtitle my-2">Nome Paciente:&nbsp;</h6> -->
          <div class="search-results">
            <div class="details">
              <dl>
                <dt>Nome Social:</dt>
                <dd>{{prontuario?.idPaciente?.nome}}</dd>
                <dt>Data de Nascimento:</dt>
                <dd>{{prontuario?.idPaciente?.dataNascimento | date:'dd/MM/yyyy'}}</dd>
                <dt>Sexo:</dt>
                <dd>{{prontuario?.idPaciente?.sexo}}</dd>
                <dt>Mãe:</dt>
                <dd>{{prontuario?.idPaciente?.nomeMae}}</dd>
              </dl>
            </div>
          </div>
          <hr id="hr-line" />
          <a  (click)="escDet(aprazamento)" value="true" class="card-link">Detalhes do paciente</a>
          <a (click)="escApra(aprazamento)"  value="false" class="card-link">Aprazamentos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div *ngIf="dados===true">
       Teste
  </div>
  <div *ngIf="!dados" class="panel panel-default">
    <div class="table-responsive-md">
      <table class="table table-striped text-center">
        <thead colspan="2">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Dosagem</th>
            <th>Posologia</th>
            <th>Validade</th>
            <th>Fabricação</th>
            <th>Aprazar medicamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of getMedicamentos(); index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{medicamento?.nome}}</td>
            <td>{{medicamento?.dosagem}}</td>
            <td></td>
            <td>{{medicamento?.dataValidade | date:'dd/MM/yyyy'}}</td>
            <td>{{medicamento?.dataFabricacao | date:'dd/MM/yyyy'}}</td>
            <td>
              <div *ngIf="!isAprazado(medicamento);else Aprazado">
                <button (click)="showModal(medicamento)" data-toggle="modal" data-target="#modalAprazamento"
                  data-backdrop="static" data-keyboard="false" class="btn btn-primary"><i class="fa fa-edit"></i></button>
              </div>
              <ng-template #Aprazado>
                <strong>Aprazado</strong>
              </ng-template>
            </td>
        </tbody>
      </table>
    </div>
    <app-modal-aprazar *ngIf="modalMedicamento" [prontuario]="prontuario" [medicamento]="modalMedicamento" (hideModal)="dismissModal($event)"></app-modal-aprazar>
  </div>
</section>