<section class="content-header">
  <div class="row">
    <h1 class="ml-3 mr-auto">Prescrição Médica</h1>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light text-white">
        <div class="card-body">
          <!-- <h5 class="card-title"><b>Prescrição</b></h5> -->
          <!-- <h6 class="card-subtitle my-2">Nome Paciente:&nbsp;</h6> -->
          <div class="row">
            <div class="col-md-6">
              <div class="details">
                <dl>
                  <dt>Prontuário:</dt>
                  <dd>{{atendimento?.prontuario}}</dd>
                  <dt>Data da Prescrição:</dt>
                  <dd>{{getDateFromString(getUltimaPrescricao()?.dataPrescricao) | date:'dd/MM/yyyy'}}</dd>
                  <dt>Tipo da Prescrição:</dt>
                  <dd>{{getUltimaPrescricao()?.tipoPrescricao}}</dd>
                </dl>
              </div>
            </div>
            <div class="col-md-6">
              <div class="details">
                <dl>
                  <dt>Status da Prescrição:</dt>
                  <dd>{{getUltimaPrescricao()?.statusPrescricao}}</dd>
                  <dt>Profissional:</dt>
                  <dd>{{getUltimaPrescricao()?.profissional}}</dd>
                  <dt>Quantidade de Medicamentos:</dt>
                  <dd>{{getItensPrescricao(3)?.length}}</dd>
                </dl>
              </div>
            </div>
          </div>
          <!-- <hr id="hr-line" /> -->
          <!-- <a  (click)="escDet(aprazamento)" value="true" class="card-link">Detalhes do paciente</a> -->
          <!-- <a (click)="escApra(aprazamento)"  value="false" class="card-link">Aprazamentos</a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <nav>
    <div class="nav nav-tabs nav-justified" role="tablist">
      <a class="nav-item nav-link" id="nav-aprazamentos-tab" data-toggle="tab" href="#nav-aprazamentos" role="tab"
        aria-controls="nav-aprazamentos" aria-selected="false">
        Aprazamentos
      </a>
      <a class="nav-item nav-link" id="nav-dietas-tab" data-toggle="tab" href="#nav-dietas" role="tab" aria-controls="nav-dietas"
        aria-selected="false">
        Dietas
      </a>
      <a class="nav-item nav-link active" id="nav-medicamentos-tab" data-toggle="tab" href="#nav-medicamentos" role="tab"
        aria-controls="nav-medicamentos" aria-selected="true">
        Medicamentos
      </a>
      <a class="nav-item nav-link" id="nav-hemoderivados-tab" data-toggle="tab" href="#nav-hemoderivados" role="tab"
        aria-controls="nav-hemoderivados" aria-selected="false">
        Hemoderivados
      </a>
      <a class="nav-item nav-link" id="nav-cuidados-tab" data-toggle="tab" href="#nav-cuidados" role="tab"
        aria-controls="nav-cuidados" aria-selected="false">
        Cuidados
      </a>
      <a class="nav-item nav-link" id="nav-procedimentos-tab" data-toggle="tab" href="#nav-procedimentos" role="tab"
        aria-controls="nav-procedimentos" aria-selected="false">
        Procedimentos
      </a>
    </div>
  </nav>
  <div class="tab-content">
    <!-- Aprazamentos -->
    <div class="tab-pane fade" id="nav-aprazamentos" role="tabpanel" aria-labelledby="nav-aprazamentos-tab">
      Aprazamentos
    </div>
    <!-- Dietas -->
    <div class="tab-pane fade" id="nav-dietas" role="tabpanel" aria-labelledby="nav-dietas-tab">
      <div class="table-responsive-md">
        <table class="table table-striped text-center">
          <thead colspan="2">
            <tr>
              <!-- <th>#</th> -->
              <th>Nome</th>
              <th>Administração</th>
              <th>Observação</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPrescricao of getItensPrescricao(1); index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{itemPrescricao?.descricaoItem}}</td>
              <td>{{itemPrescricao?.administracao}}</td>
              <td>{{itemPrescricao?.observacaoItem}}</td>
              <td>{{getDateFromString(itemPrescricao?.dataInicioItem) | date:'dd/MM/yyyy HH:mm'}}</td>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Medicamentos -->
    <div class="tab-pane fade show active" id="nav-medicamentos" role="tabpanel" aria-labelledby="nav-medicamentos-tab">
      <div class="table-responsive-md">
        <table class="table table-striped text-center">
          <thead colspan="2">
            <tr>
              <!-- <th>#</th> -->
              <th>Nome</th>
              <th>Administração</th>
              <th>Frequencia</th>
              <th>Observação</th>
              <th>Data Inicio</th>
              <th>Gotejamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPrescricao of getItensPrescricao(3); index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{itemPrescricao?.descricaoItem}}</td>
              <td>{{itemPrescricao?.administracao}}</td>
              <td>{{itemPrescricao?.frequencia}} Horas</td>
              <td>{{itemPrescricao?.observacaoItem}}</td>
              <td>{{getDateFromString(itemPrescricao?.dataInicioItem) | date:'dd/MM/yyyy HH:mm'}}</td>
              <td>{{itemPrescricao?.gotejamento}}</td>
              <td>
                <button (click)="showModal(itemPrescricao)" data-toggle="modal" data-target="#modalAprazamento"
                  data-backdrop="static" data-keyboard="false" class="btn btn-primary"><i class="fa fa-edit"></i></button>
              </td>
          </tbody>
        </table>
      </div>
      <app-modal-aprazar *ngIf="modalMedicamento" [medicamento]="modalMedicamento" [prontuario]="prontuario" [atendimento]="atendimento"
        (hideModal)="dismissModal($event)"></app-modal-aprazar>
    </div>
    <!-- Hemoderivados -->
    <div class="tab-pane fade" id="nav-hemoderivados" role="tabpanel" aria-labelledby="nav-hemoderivados-tab">
      <div class="table-responsive-md">
        <table class="table table-striped text-center">
          <thead colspan="2">
            <tr>
              <!-- <th>#</th> -->
              <th>Nome</th>
              <th>Administração</th>
              <th>Frequencia</th>
              <th>Observação</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPrescricao of getItensPrescricao(4); index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{itemPrescricao?.descricaoItem}}</td>
              <td>{{itemPrescricao?.administracao}}</td>
              <td>{{itemPrescricao?.frequencia}} Horas</td>
              <td>{{itemPrescricao?.observacaoItem}}</td>
              <td>{{getDateFromString(itemPrescricao?.dataInicioItem) | date:'dd/MM/yyyy hh:mm'}}</td>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Cuidados -->
    <div class="tab-pane fade" id="nav-cuidados" role="tabpanel" aria-labelledby="nav-cuidados-tab">
      <div class="table-responsive-md">
        <table class="table table-striped text-center">
          <thead colspan="2">
            <tr>
              <!-- <th>#</th> -->
              <th>Nome</th>
              <th>Administração</th>
              <th>Observação</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPrescricao of getItensPrescricao(5); index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{itemPrescricao?.descricaoItem}}</td>
              <td>{{itemPrescricao?.administracao}}</td>
              <td>{{itemPrescricao?.observacaoItem}}</td>
              <td>{{getDateFromString(itemPrescricao?.dataInicioItem) | date:'dd/MM/yyyy hh:mm'}}</td>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Procedimentos -->
    <div class="tab-pane fade" id="nav-procedimentos" role="tabpanel" aria-labelledby="nav-procedimentos-tab">
      <div class="table-responsive-md">
        <table class="table table-striped text-center">
          <thead colspan="2">
            <tr>
              <!-- <th>#</th> -->
              <th>Nome</th>
              <th>Administração</th>
              <th>Observação</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPrescricao of getItensPrescricao(6); index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{itemPrescricao?.descricaoItem}}</td>
              <td>{{itemPrescricao?.administracao}}</td>
              <td>{{itemPrescricao?.observacaoItem}}</td>
              <td>{{getDateFromString(itemPrescricao?.dataInicioItem) | date:'dd/MM/yyyy hh:mm'}}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
