/* Icone editar medicamento*/
.btn-edit:hover, .btn-edit {
  color: #0a79df;
  width: 40px !important;
  height: 40px !important;
}

#img-paciente {
  width: 40px !important;
  height: 40px !important;
}

#hr-line {
  background-color: #fff;
}


.card-link {
  color: #fff;
  font-weight: bold;
}
.card-link:hover {
  color: darkgray;
}
.row {
  color: #000;
}