<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
  aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
  (click)="isCollapsed = !isCollapsed"><span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#">Salus Vitae</a>
<div class="navbar-collapse collapse" id="navbarToggle" role="navigation">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link fa fa-stethoscope" [routerLink]="['/dashboard/prontuarios/pacientes-internados']">Pacientes Internados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-clock-o" [routerLink]="['/dashboard/aprazamentos']">
        Aprazamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-clipboard" [routerLink]="['/dashboard/historico']">
        Histórico</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-power-off" [routerLink]="['/login']" (click)="onLoggedout()">
        Log Out</a>
    </li>
  </ul>
</div>
</nav>
