table {
  border: 2px solid #ccc;
}

.dropdown-menu {
  width: 100%;
}

.scrollable-menu {
  height: auto;
  max-height: 110px;
  overflow-x: hidden;
}

.mr-4 {
  margin-right: 2.5rem !important;
}

.ml-5{
  margin-left: 3rem !important;
}

.content.horario {
  padding-bottom: 3%;
}

.container-group {
  padding-bottom: 3%;
}

.btn.btn-danger:hover{
  background-color:#fff;
  color: red;
  
}

.btn.btn-danger{
  background-color:red;
  border-radius: 33px;
}


span{
  float: right !important;
}