<section class="container-group">
  <div class="row ml-5 mr-5 mt-0">
    <div class="card w-100">
      <h1 class="card-title text-center mt-2">Visualizar Aprazamentos</h1>
      <div class="card-body">
      </div>
    </div>
  </div>
</section>
<section class="content horario">
    <div class="row ml-4 mr-4 pull-right">
      <div class="btn-group">
        <div class="col-md-2">
        <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" type="button">Horários&nbsp;</button>
          <div class="dropdown-menu scrollable-menu" role="menu">
            <button (click)="selecionarHorario(horario)" class="dropdown-item" type="button" [class.active]="horario === filtro"
              *ngFor="let horario of getHorarios()">
              {{ horario }}
            </button>
          </div>
          </div>
      </div>
    </div>
</section>

<section class="content">
  <div class="row m-5">
    <div class="panel-group col-md-12 w-100">
      <div class="panel panel-default">
        <div class="card apra">
          <div *ngFor="let prontuario of getProntuarios() | paginate: { id: 'aprazamentos', itemsPerPage: 10, currentPage: paginationHorario }">
            <div class="card-header" (click)="mostrarAprazamentos(prontuario)">
              <a class="card-title">
                {{ aprazamentos?.get(prontuario) &&
                aprazamentos?.get(prontuario)?.aprazamentos[0]?.prontuario?.nomeDoPaciente ?
                aprazamentos.get(prontuario).aprazamentos[0].prontuario.nomeDoPaciente : 'Paciente não identificado' }}
                <strong>({{ prontuario }})</strong>:
                <span>Leito {{ aprazamentos?.get(prontuario) &&
                aprazamentos?.get(prontuario)?.aprazamentos[0]?.prontuario?.leito?.leito ?
                aprazamentos.get(prontuario).aprazamentos[0].prontuario.leito.leito : 'não identificado' }}</span>
              </a>
            </div>
            <div id="collapseOne" class="card-body" [ngbCollapse]="isCollapsed(prontuario)">
              <div class="table-responsive-sm bg-white ml-5 mr-5">
                <table class="table table-hover text-center">
                  <thead>
                    <tr class="bg-light">
                      <th>Horário do Aprazamento</th>
                      <th>Nome do Medicamento</th>
                      <th>Administração</th>
                      <th>Intervalo</th>
                      <th>Observação</th>
                      <th>Gotejamento</th>
                      <th>Rodelar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aprazamento of getAprazamentos(prontuario)">
                      <td>
                        {{ aprazamento?.horarioInicial ? (aprazamento.horarioInicial | date:'HH:mm - dd/MM/yyyy') : 'Não identificado' }}
                      </td>
                      <td>
                        {{ aprazamento?.itemPrescricao?.descricaoItem ? aprazamento.itemPrescricao.descricaoItem : 'Não identificado' }}
                      </td>
                      <td>
                        {{ aprazamento?.itemPrescricao?.administracao ? aprazamento.itemPrescricao.administracao : 'Não identificado' }}
                      </td>
                      <td>{{ aprazamento?.itemPrescricao?.frequencia }}h</td>
                      <td>{{ aprazamento?.itemPrescricao?.observacaoItem }}</td>
                      <td>{{ aprazamento?.itemPrescricao?.gotejamento }}</td>
                      <td>
                        <button (click)="showModalRodelagemAprazamento(aprazamento)" class="btn btn-danger circle">
                          <i class="fa fa-remove"></i>
                          </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-3">
          <pagination-controls [id]="'aprazamentos'" previousLabel="Anterior" nextLabel="Próximo" responsive="true" (pageChange)="paginationAprazamentos = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: '#ffffff', backdropBorderRadius: '3px' }"></ngx-loading>
</section>
