
<section class="content-header">
  <div class="row">
    <h1 class="ml-3 mr-auto">Detalhes Aprazamento</h1>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-4 pb-3 align-items-center">
      <div class="card h-100">
        <div class="card-body">
          <p>Paciente: <b>{{aprazamento?.paciente?.nome}}</b> </p>
          <div class="search-results">
            <div class="details">
              <dl>
                <dt>Enfermeira:</dt>
                <dd>{{aprazamento?.enfermeira.name}}</dd>
                <dt>Medicamento:</dt>
                <dd>{{aprazamento?.medicamento?.nome}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pb-3 align-items-center">
      <div class="card h-100">
        <div class="card-body">
          <div class="search-results">
            <div class="details">
              <dl>
                <dt>Posologia:</dt>
                <dd>{{aprazamento?.medicamento?.dosagem}} - {{aprazamento?.intervalo}}</dd>
                <dt>Cancelado:</dt>
                <dd>{{aprazamento?.isCancelado ? 'Sim' : 'Não'}}</dd>
                <dt>Justificativa do cancelamento:</dt>
                <dd>{{aprazamento?.justificativa}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pb-3 align-items-center">
      <div class="card h-100">
        <div class="card-body">
          <div class="search-results">
            <div class="details">
              <dl>
                <dt>Justificativa da suspensão:</dt>
                <dd>-</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-4 pb-3 pull-right">
      <div class="col-md-4 h-100">
        <button class="btn btn-danger" (click)="excluir()">Excluir</button>
      </div>
    </div> -->
  </div>
</section>
<section class="content">
  <div class="panel panel-default">
    <div class="table-responsive-md">
      <table class="table table-striped text-center">
        <thead colspan="2">
          <tr>
            <td>#</td>
            <td>Horário: </td>
            <td>Já Aprazado: </td>
            <td>Editar</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of [aprazamento]; index as i">
            <th class="align-middle" scope="row">{{ i + 1 }}</th>
            <td class="align-middle w-25"><input #horarioInput ([ngModel])="dt_horario" value="{{ a.horario | date:'dd/MM/yyyy hh:mm' }}" type="text"
              disabled class="form-control"></td>
              <td class="align-middle">Não</td>
              <td class="align-middle"><button type="submit" (click)="editar(horarioInput)" id="btn-action" class="btn btn-primary">{{submitType}}</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
