textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

@media only screen and (min-width:546px){
    #suspensao{
        height: 100px; width: 390px;
    }
    .btn-danger{
        margin-left: 4%;
        margin-top: -1%;
    }   
}

.btn-danger{
    margin-left: -2%;
    margin-top: 0%;
}

@media screen and (max-height:581px){
    .btn-danger{
        margin-left: -2%;
        margin-top: 2%;
    }
}

