<section class="content-header">
  <h1>
    Pacientes
  </h1>
</section>


<section class="content">

  <div class="panel panel-default" class="col-sm-6 col-xs-12">
      <table class="table" >
        <tr>
              <th>Nome</th>
              <th>Nome Social</th>
              <th>Sexo</th>
              <th>Mãe</th>
              <th>Pai</th>
              <th>RG</th>
              <th>CPF</th>
              <th>Data Nascimento</th>
              <th>Alergia</th>
          </tr>
          <tr *ngFor="let paciente of pacientes">
              <!-- <app-paciente [paciente]="paciente"></app-paciente> -->
              <a [routerLink]="['/pacientes', paciente.id]"><td>{{paciente.nome}}</td></a>
              <td>{{paciente.nomeSocial}}</td>
              <td>{{paciente.sexo}}</td>
              <td>{{paciente.nomeMae}}</td>
              <td>{{paciente.nomePai}}</td>
              <td>{{paciente.numeroRg}}</td>
              <td>{{paciente.numeroCpf}}</td>
              <td>{{paciente.dataNascimento}}</td>
              <td>{{paciente.alergias}}</td>
            </tr>
      </table>
  </div>

</section>
